{% extends 'base/base.html'%}

{% block content %}

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="font-weight-light">Реферальная система</h1>
                <p class="lead text-muted"></p>
                <p>
                    <a href="{% url 'users:create_user' %}" class="btn btn-primary my-2">Авторизоваться</a>
                    <a href="#" class="btn btn-secondary my-2">Второе действие</a>
                </p>
            </div>
        </div>
    </section>

</main>

{% endblock %}