{% extends 'base/base.html' %}

{% block content %}
<main>
    <section class="py-5 text-center container">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label  class="col-form-label">Код</label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" aria-describedby="passwordHelpInline">
            </div>
            <div class="col-auto">
    <span id="passwordHelpInline" class="form-text">
      Введите код из 4 символов
    </span>
            </div>
        </div>
    </section>
</main>
{% endblock %}